//Title Bar
$tb_height: 32px;
$tb_separator_width: 1px;
$tb_transition_duration: 0.25s;
//Menu Bar
$mb_height: 24px;
$mb_transition_duration: 0.25s;
$mb_separator_height: 1px;
//Scrollbar
$scroll_width: 12px;
//Content
$content_separator_height: 1px;
$content_padding: 5px;
//Footer
$footer_height: 24px;